.popup-offer{
    position: fixed;
    width: 80%;
    height: 120%; 
    z-index: 1;
    display: grid; 
    place-content: center;
    opacity: 0; 
    transition: 200ms ease-in-out opacity;
}

.popup-offer-mobile{
    position: fixed;
    width: 100%;
    height: 120%; 
    z-index: 1;
    display: grid; 
    place-content: center;
    opacity: 1; 
    transition: 200ms ease-in-out opacity;
}


.popup-offer-content{ 
    width: 40vw;
    background-color: #EEEEEE;
    padding: 1rem;
    box-shadow: 0 0 .5em rgba(2, 6, 23, 2);
    border-radius: .8em;
    opacity: 0; 
    transform: translateY(20%);
    transition: 200ms ease-in-out opacity,
                200ms ease-in-out transform;
    position: relative;
}
 

.popup-offer h1{
    position: absolute; 
    top: 2rem;
    right: 2rem; 
    cursor: pointer; 
    font-size: 1.6rem;
    color: rgb(229 231 235);
}

.popup-offer h1:active {
    transform: scale(.9);
}

.showPopup-offer{
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
}
